<h1>Welcome#index</h1>

<h2><p>The TUTU APP</p></h2>
<%= link_to 'СПИСОК СТАНЦИЙ', railway_stations_path %>
<br>
<%= link_to 'СПИСОК ПОЕЗДОВ', trains_path %>
<br>
<%= link_to 'СПИСОК МАРШРУТОВ', routes_path %>
